argcomplete==1.10.3
azure-core==1.19.0
azure-storage-blob==12.9.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
Brotli==1.0.9
Cerberus==1.3.4
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
colour==0.1.5
compressed-rtf==1.0.6
comtypes==1.1.10
cryptography==35.0.0
cycler==0.10.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
docstring-parser==0.7.3
docx2txt==0.8
ebcdic==1.1.1
EbookLib==0.17.1
extract-msg==0.28.7
Flask==2.0.2
Flask-Compress==1.10.1
greenlet==1.1.2
idna==3.3
IMAPClient==2.1.0
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.2
kiwisolver==1.3.2
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.3
msrest==0.6.21
networkx==2.6.3
numpy==1.21.3
oauthlib==3.1.1
olefile==0.46
pandas==1.3.4
pdfminer.six==20191110
Pillow==8.4.0
plotly==5.3.1
pycparser==2.20
pycryptodome==3.11.0
pyodbc==4.0.32
pyparsing==2.4.7
python-dateutil==2.8.2
python-pptx==0.6.21
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==225
PyYAML==5.4.1
requests==2.26.0
requests-oauthlib==1.3.0
scipy==1.7.1
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.26
sqlalchemy-access==1.1.1
tenacity==8.0.1
textract==1.6.4
tzdata==2021.4
tzlocal==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
wincertstore==0.2
xlrd==1.2.0
XlsxWriter==3.0.1
